<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.onmymobile.wifimodule">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application

        android:name="com.clevertap.android.sdk.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="singleTask"
        tools:replace="android:icon,android:theme,android:name">
        <!-- <activity android:name="co.onmymobile.wifimodule.co.onmymobile.wifimodule.WifiAppActivity"
             android:screenOrientation="portrait">
             &lt;!&ndash;<intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         &ndash;&gt;</activity>-->
        <activity android:name=".DonationActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-Z84-84Z-R94Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-14b-4b1"/>
        <service
            android:name="com.clevertap.android.sdk.FcmTokenListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.clevertap.android.sdk.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="ic_launcher"/> <!-- name of your file in the drawable directory without the file extension. -->

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"/>

        <!-- uncomment below block to ensure in-app notification isn't shown on a splash screen -->
        <!-- meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="SplashActivity1, SplashActivity2"/ -->



        <activity android:name=".BsnlWifiActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LocationActivity"
            android:screenOrientation="portrait"/>
        <receiver
            android:name="com.clevertap.android.sdk.InstallReferrerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_paBxw0vKu3tGvELhLXEFBnebvEgbzhy5" />
        <!-- Branch URI scheme -->
        <intent-filter>
            <data android:scheme="" android:host="open" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
    </application>

</manifest>